<div class="container">
    <br>
    <h1 align="center"> Create Note</h1>
    <br/>
    <form name="createForm" #createForm="ngForm" (ngSubmit)="create(createForm)" novalidate>
  
      <div class="form-group">
        <label> Title </label>
        <input type="text" name="title" [(ngModel)]="title"  class="form-control"required/>
        <span style="color:red" *ngIf="createForm.submitted && !title ">
          This Field is Required
        </span>
      </div>
    
  
      
    <div class="form-group">
        <label> Description</label>
  
        <textarea name="description"  [(ngModel)]="description" class="form-control txt-area" placeholder="Please Add Here..." class="form-control" required></textarea>
        <span  style="color:red" *ngIf="createForm.submitted && !description ">
          This Field is Required
        </span>
      </div>

      
      <div class="form-group">
          <label> Start Date</label>
    
          <input type="date" name="startdate"  [(ngModel)]="startdate"   class="form-control" >
          
      </div>

      <div class="form-group">
          <label> End Date</label>
    
          <input type="date" name="expiredate"  [(ngModel)]="expiredate"   class="form-control" >
          <span  style="color:red" *ngIf="createForm.submitted && expiredate<startdate ">
              This Field is false
            </span>
          
      </div>
      
      <button class="btn btn-success"> Create </button>
    </form>
    </div>
  
